.home {
  min-height: 150vh ;
  background-color: #141414; 
}


/*https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.idownloadblog.com%2F2016%2F02%2F24%2Fnetflix-ipad-pro-3d-touch%2F&psig=AOvVaw0Bo8w0LzrKs45UO4GC84S6&ust=1629309435472000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMCWsuXQuPICFQAAAAAdAAAAABBE*/


.home {
  color: white;
}

.home > .navbar::before {
  content: '' ;
  position: absolute ;
  top: 0;
  left: 0 ;
  right: 0 ;
  width: 100% ;
  bottom: 0 ;
  z-index: -1 ;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}
.home > .navbar > .navbar-link-container > a {
  color: white;
}

.details-description {
  padding: 20px 40px ;
  display: flex ;
  flex-direction: column;
}
.details-description > p {
  max-width: 600px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}
.details-description > .description-header > h1 {
  margin: 20px 0 ;
}
.description-header {
  display: flex ;
  align-items: center ;
  justify-content: space-between;
}
.description-header > span {
  display: flex;
  align-items: center;
}
.description-header > span > svg {
  margin-left: 2px;
  color: #D66345 ;
}
.description-header > h1 > span {
  font-weight: lighter;
}
.details-description > span {
  margin: 6px 0 ;
  color: #777777 ;
  font-size: 15.5px;
  text-transform: capitalize;
}
.details-description > span > strong {
  color: white ;
}