.home {
  min-height: 150vh ;
  background-color: #0C0C0C ;
}


.home > .navbar {
  background-color: black ;
  padding: 20px 4.3vw 0 4.3vw;
  height: 70px ;
  overflow-y: hidden ;
}

.navbar-link-container {
  margin-left: 30px ;
}
.navbar-link-container > a {
  text-decoration: none ;
  color: #a3a4a5 ;
  cursor: pointer ;
  padding: 8px 12px ;
  transition: .3s ease-out ;
  font-size: 15.5px ;
}
.navbar-link-container > a:hover {
  color: white ;
}
.navbar-link-container > a:focus {
  font-weight: bold ;
  color: white ;
}
/*https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.idownloadblog.com%2F2016%2F02%2F24%2Fnetflix-ipad-pro-3d-touch%2F&psig=AOvVaw0Bo8w0LzrKs45UO4GC84S6&ust=1629309435472000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMCWsuXQuPICFQAAAAAdAAAAABBE*/
