.home {
  min-height: 150vh ;
  background-color: #0C0C0C ;
}


/*https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.idownloadblog.com%2F2016%2F02%2F24%2Fnetflix-ipad-pro-3d-touch%2F&psig=AOvVaw0Bo8w0LzrKs45UO4GC84S6&ust=1629309435472000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMCWsuXQuPICFQAAAAAdAAAAABBE*/


.home {
  color: white;
}