
.social-media-login-container {
  margin: 20px 0 10px 0 ;
}

.social-media-login {
  outline: none ;
  border: none ;
  background: transparent ;
  display: flex ;
  align-items: center;
  cursor: pointer;
  color: #637373 ;
  font-size: 16px ;
  transition: .3s ease-out ;
  position: relative;
}

.social-media-login::before {
  content: "" ;
  position: absolute;
  bottom: -6px ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
  height: 2px ;
  background-color: white ;
  transform: scaleX(0) ;
  transition: .25s ease-out ;
}
.social-media-login:hover::before {
  transform: scaleX(1);
}
.social-media-login:hover {
  color: white ;
}
.social-media-login:first-child {
    margin-bottom: 20px ;
}
.social-media-login > svg {
  font-size: 25px ;
  margin-right: 7px ;
}

.go-home-link {
  margin-top: 15px ;
  text-decoration: none ;
  cursor: pointer;
  color: #637373;
  position: relative;
  width: fit-content;
  padding-bottom: 7px ;
}


.go-home-link::before {
  position:absolute;
  content: '' ;
  bottom: 0 ;
  right: 0 ;
  width: 0% ;
  height: 2px ;
  background-color: #637373 ;
  transition: .3s ease-out;
}

.go-home-link > svg {
  font-size: 23px ;
  position: absolute;
  bottom: 0 ;
  right: 0 ;
  transition: .3s ease-out;
  opacity: 1 ;
  transform: translate(0px, 10.5px);
  opacity: 0 ;
}

.go-home-link:hover > svg {
  transform: translate(-105px,10.5px);
  opacity: 1 ;
}

.go-home-link:hover::before {
  width: 100% ;
}
.main-page {

}
