.app form .MuiFormControl-root {
  background-color: white ;
  flex: 100 ;
  color: black ;
  font-weight: 800 !important ;
}

.app form .MuiFormLabel-root {
  font-weight: 800 ;
  transform: translate(0 , -50%) scale(1) ;
  top: 50% ;
}
.app form .MuiInput-underline:after {
  border-bottom: 4px solid #EFA00A ;
}
.app form .MuiFormLabel-root.Mui-focused {
  color: gray ;
  transform: translate(0 , -24px ) scale(.7);
}
.app form .MuiInput-underline:after {
  left: -10px ;
}

.app form .MuiInput-underline:before {
  display: none  ;
}

.app form input:-internal-autofill-selected {
  background-color: white !important ;
}


form.main-page-form > span {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  height: 4px;
  background-color: #EFA00A;
  transition: .2s cubic-bezier(0,-0.15, 0, 0.97) ;
  transform: scaleX(0);
}

form.main-page-form > span.focused {
  transform: scaleX(1) ;
}

form.main-page-form > label {
  position: absolute;
  color: #8C8C8C;
  font-weight: 200 ;
  top: 50% ;
  left: 20px ;
  transform: translate(0,-50%) scale(1) ;
  z-index: 100 ;
  transition: .2s ease-out ;
}


form.main-page-form > label.focused {
  transform: translate( -24px , -32px) scale(.7) ;
  font-weight: 700;
}
/*.app form .MuiInputLabel-formControl {
top: 50% ;
left: 20px ;
transform: translateY(-50%) scale(1);
}
.app form .Mui-focused {
  transform: translate(0 , -24px) scale(.8);
}
*/
