.app form input:-internal-autofill-selected {
  background-color: white !important ;
}

form.main-page-form > span {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  height: 4px;
  background-color: #efa00a;
  transition: 0.2s cubic-bezier(0, -0.15, 0, 0.97);
  transform: scaleX(0);
}

form.main-page-form > span.focused {
  transform: scaleX(1);
}

form.main-page-form > label {
  position: absolute;
  color: #8c8c8c;
  font-weight: 200;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%) scale(1);
  z-index: 100;
  transition: 0.2s ease-out;
}

form.main-page-form > label.focused {
  transform: translate(-24px, -32px) scale(0.7);
  font-weight: 700;
}
.netflix-containers {
  background-color: black;
  color: white;
}
.netflix-container {
  border-top: 8px solid #222222;
  padding: 30px 4vw;
}
.neflix-container-data {
  max-width: 600px;
}
.neflix-container-data > h1 {
  font-size: 3.1rem;
}

.neflix-container-data > h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
}

.netflix-container-animations {
  position: relative;
}
.netflix-animation {
  position: absolute;
  top: 21%;
  left: 13%;
  height: 53%;
  width: 73%;
}
.netflix-animation-2 {
  top: 10%;
  position: absolute;
  width: 60%;
  height: 38%;
  left: 20%;
  z-index: 1;
}
.netflix-animation > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.netflix-srcs {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
  border-radius: 10px;
  background-color: black;
  color: white;
  height: 90px;
  border: 1px solid white;
  display: flex;
  padding: 12px;
  z-index: 100;
  min-width: 150px;
}
.netflix-srcs > img {
  object-fit: contain;
}
.netflix-container-animations > img {
  max-width: 600px;
}
.netflix-srcs-child {
  flex: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.netflix-srcs-child > p:first-child {
  font-weight: bold;
}
.netflix-srcs-child > p:last-child {
  color: #0051c6;
  margin-top: 7px;
}
.netflix-srcs-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 100%;
}



@media screen and (max-width: 1100px) {
  .netflix-srcs {
    left: 10%;
    right: 10%;
    height: 60px;
  }
  .neflix-container-data {
  text-align: center;
  }
  .netflix-container-animations > img {
    max-width: 450px;
  }
  .netflix-container {
    flex-direction: column !important ;
  }
  .netflix-container-animations {
    margin-top: 30px;
  }
  .neflix-container-data > h1 {
    font-size: 2rem;
  }
  .neflix-container-data > h2 {
    font-size: 1.3rem;
    max-width: 100%;
  }

  @media screen and (max-width: 500px) {
  .netflix-container-animations > img {
    max-width: 100%;
   }
    .neflix-container-data > h1 {
      font-size: 1.3rem;
    }
    .neflix-container-data > h2 {
      font-size: 1rem;
    }
    .netflix-srcs {
      left: 8%;
      right: 8%;
      height: 60px;
    }
  }
}
