.home > .navbar {
  background-color: black ;
  padding: 20px 4.3vw 0 4.3vw;
  height: 70px ;
}


.navbar > a > svg {
  width: 10vw;
  height: 50px;
  object-fit: contain;
  fill: var(--netflix-red);
  max-width: 180px;
  min-width: 100px;
}

.navbar-link-container {
  align-self: stretch ;
  margin-left: 30px ;
}

.navbar-link-container > a::before {
  content: "" ;
  position: absolute ;
  bottom: 0 ;
  left: 0;
  right: 0 ;
  width: 100% ;
  height: 3px ;
  background-color: transparent;
  transition: .3s ease-out ;
}

.navbar-link-container > a.active::before {
  background-color:red;
}

.navbar-link-container > a {
  text-decoration: none ;
  color: #a3a4a5 ;
  cursor: pointer ;
  margin: 0px 12px ;
  margin-top: 11px;
  transition: .3s ease-out ;
  font-size: 15.5px ;
  position: relative ;
}

.navbar-link-container > a:hover {
  color: white ;
}
.navbar-link-container > a.active {
  font-weight: bold ;
  color: white ;
}

.no-styling-link {
  text-decoration: none ;
}

.arrow-carrout {
  position: absolute;
  top: -15px;
  left: 50%;
  border-width: 7px;
  margin-left: -7px;
  border-color: transparent transparent #e5e5e5;
  border-style: solid;
  height: 0;
  width: 0;
  display: none ;
}


@media screen and (max-width: 800px) {
  .open .arrow-carrout {
    display: block;
  }
}

@media screen and (max-width:800px) {
  .navbar-link-container {
    position: absolute;
    top: 70px;
    background-color: rgba(0,0,0,.85);
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: center;
  }
  .open {
    border-top: 1px solid white;
  }
  .navbar-link-container > a {
    margin: 0 ;
    padding: 0px 0px;
    height: 0 ;
    overflow: hidden;
    transform-origin: top;
    transition: .18s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    display: flex ;
    align-items: center;
  }
  .navbar-link-container > a:nth-child(1) {
    transition-delay: .1s;
  }
  .navbar-link-container > a:nth-child(2) {
    transition-delay: .2s;
  }
  .navbar-link-container > a:nth-child(3) {
    transition-delay: .3s;
  }
  .navbar-link-container > a:nth-child(4) {
    transition-delay: .4s;
  }
  .navbar-link-container > a:nth-child(5) {
    transition-delay: .5s;
  }
  .open > a {
    height: 38px ;
  }
  .navbar-link-container > a::before {
    height: 5px;
    width: 5px;
    left: 50% ;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}