.row {
    margin-bottom: 40px;
}
.row > h1 {
    font-size: 1.1rem;
}
.row-image {
    display: flex ;
    overflow-y: hidden ;
    margin: 10px 0 ;
}

.row-image > img {
    max-height: 130px;
    object-fit: contain ;
    margin-right: 5px;
    transition: .3s ease-out ;
    cursor: pointer;
}

.row-image > img:hover {
    transform: scale(1.09) ;
}

