.main-page {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/75c98423-e2eb-43c3-951f-06ff61290cea/LB-en-20210719-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}

.main-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.85) 5%,
    rgba(0, 0, 0, 0.6) 40%
  );
  z-index: 0;
}


.main-page .MuiFormControl-root {
  margin-bottom: 5px ;
  min-width: 0 ;
  width: 100% ;
}
.main-page .MuiInputBase-input {
  background-color : #333333 ;
}

.main-page .MuiInputLabel-filled {
  color: #8C8067 ;
}

.main-page .MuiFilledInput-underline:after {
  border-bottom-color: #EFA00A ; 
}

.main-page .Mui-focused {
  color: #8C8067 !important ;
}

.main-page .netflix-button-login {
  margin-bottom: 15px ;
  margin-top: 25px ;
}

.main-page .netflix-sign-inputs p {
  color: #EFA00A ;
  font-weight: 300 ;
  font-size: 15px ;
}