* {
  box-sizing: border-box;
  padding: 0 ;
  margin: 0 ;
  font-family: 'Roboto', sans-serif;
}
:root {
  --netflix-red : #E50914 ;
}
.app .MuiButton-root {
  font-family: 'Roboto', sans-serif !important ;
  font-weight: 400 ;
  font-size: 1.2rem ;
}
